<h1>Blackjack</h1>

<% unless flash[:error].nil? %><p><%= flash[:error] %></p><% end %>

<p>Your money: <%= @game.player_money %>.</p>

<% if @game.dealt? %>
  <p>Dealer hand:</p>
  <ul>
    <li>Cards: <%= @game.dealer_hand %>. Score: <%= @game.dealer_hand.score %>.</li>
  </ul>

  <p>Player hands:</p>
  <ul>
    <%= render partial: "player_hand", collection: @game.player_hands %>
  </ul>
<% end %>

<% if @game.game_over? %>
  <p>Game over!</p>
<% end %>

<% if @game.can_bet? %><%= render "bet" %><% end %>
<% if @game.can_stand? %><%= render "stand" %><% end %>
<% if @game.can_hit? %><%= render "hit" %><% end %>
<% if @game.can_start_round? %><%= render "new_round" %><% end %>
<% if @game.game_over? %><%= render "form" %><% end %>
